* {
    border: 1px solid red;
}

body {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.section-1 {
    display: flex;
    max-width: 100%;    
    align-items: center;
    justify-content: center;
}

#profile_img {
    max-width: 80%;
    border-radius: 100px;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact {
    display: flex;
}

